@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  list-style: none;
  font-family: 'Silkscreen', cursive;
  color: #1d3557;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #a8dadc;
}