body {
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8%;
    .title{
      width: 50%;
    }
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 43%;
      }
      
      width: 20%;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      border: 2px solid #1d3557;
      border-radius: 1rem;
      width: 20%;
      height: 2rem;
      padding-left: 0.8rem;
    }
    button {
      background: none;
      border: none;
      cursor: pointer;
      img{
        width: 4rem;
      }
    }
  }

  ul {
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    a {
      text-decoration: none;
      color: #1d3557;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      img {
        width: 4rem;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  .pages-button {
    display: flex;
    justify-content: center;
    gap: 2rem;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
